body {
    background-color: rgb(212, 203, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    text-align: left;
}

#resultado {
    text-align: left;
}
